@font-face {
    font-family: valorantFont;
    src: url("../src/fonts/Valorant Font.ttf");
}

* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

body {
    background-color: #1f1f1f;
    color: #fa4454;
    font-family: valorantFont, serif;
}

.agentText {

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fa4454;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkred;
    transition: all 0.2s ease-in-out;
}